@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Pushster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Pushster, sans-serif;
    font-weight: 600;
    color:#383535;
    background-image: url('../images/green spori.jpg') no-repeat center;
}
/* headings and logo */

h1, h2 {
    font-family: Lato, sans-serif;
    letter-spacing: 6px;
    color: #0a4e43;
}

#logo {
    float: left;
    font-size: 400;
    margin-left: 40px;

}
/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 5px;
}

#menu, #logo {
     line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px ridge #3a630b;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image  and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#hero-image {
        height: 600px;
        width: 100%;
        background: url('../images/greenspori.jpg') no-repeat center center;
    
}


#cover-text {
    font-size: 130%;
    font-family: Lato, sans-serif;
    letter-spacing: 4px;

    width: 400px;
    height: 500px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(19, 229, 168, 0.75);

    top: 30px;
    left: 10px;

    position: absolute;
}


/* Footer */

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a630b;
}

/* Gallery Photos */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photos img{
    width: 100%;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #photos{
        column-count: 4;
    }
}
    
/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){
    


    #photos{
        column-count: 3;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }
    #photos{
        column-count: 2;
    }
}
/* For small screens sizes from 400px wide and down */
@media screen and (max-width: 400px){
    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }
    #photos{
        column-count: 2;
    }
}


